In [1]:
!pip3 install yfinance

Requirement already satisfied: yfinance in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (0.2.12)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.11.1)
Requirement already satisfied: html5lib>=1.1 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.21.5)
Requirement already satisfied: pandas>=1.3.0 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.9.1 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.9.1)
Requirement already satisfied: cryptography>=3.3.2 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (37.0.1)
Requirement already satisfied: requests>=2.26 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2.28.1)
Requirement already satisfied: frozendict>=2.3.4 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2.3.5)
Requirement already satisfied: appdirs>=1.4.4 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2022.7.1)
Requirement already satisfied: multitasking>=0.0.7 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: soupsieve>1.2 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: cffi>=1.12 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2019.3.9)
Requirement already satisfied: idna<4,>=2.5 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.8)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: pycparser in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [14]:
def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
    # company = 'facebook'
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [19]:
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'META',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}

df = get_data(days, tickers)

In [16]:
!pip3 install altair

Requirement already satisfied: altair in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (4.2.2)
Requirement already satisfied: jsonschema>=3.0 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from altair) (4.16.0)
Requirement already satisfied: entrypoints in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from altair) (0.4)
Requirement already satisfied: toolz in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from altair) (0.11.2)
Requirement already satisfied: pandas>=0.18 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from altair) (1.4.4)
Requirement already satisfied: numpy in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from altair) (1.21.5)
Requirement already satisfied: jinja2 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from altair) (2.11.3)
Requirement already satisfied: attrs>=17.4.0 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=3.0->altair) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.18->altair) (2022.7.1)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from jinja2->altair) (2.0.1)
Requirement already satisfied: six>=1.5 in /Users/sawami/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.18->altair) (1.16.0)

In [17]:
import altair as alt

In [20]:
df

Date,23 January 2023,24 January 2023,25 January 2023,26 January 2023,27 January 2023,30 January 2023,31 January 2023,01 February 2023,02 February 2023,03 February 2023,06 February 2023,07 February 2023,08 February 2023,09 February 2023,10 February 2023,13 February 2023,14 February 2023,15 February 2023,16 February 2023,17 February 2023
Name,,,,,,,,,,,,,,,,,,,,
apple,140.894882,142.312714,141.643738,143.740540,145.707520,142.781998,144.070023,145.208282,150.590088,154.264465,151.498688,154.414230,151.688400,150.639999,151.009995,153.850006,153.199997,155.330002,153.710007,152.550003
facebook,143.270004,143.139999,141.500000,147.300003,151.740005,147.059998,148.970001,153.119995,188.770004,186.529999,186.059998,191.619995,183.429993,177.919998,174.149994,179.429993,179.479996,177.160004,172.440002,172.880005
google,99.790001,97.699997,95.220001,97.519997,99.370003,96.940002,98.839996,100.430000,107.739998,104.779999,102.900002,107.639999,99.370003,95.010002,94.570000,94.610001,94.680000,96.940002,95.510002,94.349998
microsoft,241.973923,241.435272,240.008850,247.380386,247.539993,242.103607,247.190857,252.118515,263.938904,257.704529,256.128448,266.891510,266.063599,262.961365,262.442657,270.642120,271.490021,269.320007,262.149994,258.059998
netflix,357.420013,363.829987,367.959991,364.869995,360.769989,353.109985,353.859985,361.989990,366.890015,365.899994,361.480011,362.950012,366.829987,362.500000,347.359985,358.570007,359.959991,361.420013,350.709991,347.959991
amazon,97.519997,96.320000,97.180000,99.220001,102.239998,100.550003,103.129997,105.150002,112.910004,103.389999,102.180000,102.110001,100.050003,98.239998,97.610001,99.540001,99.699997,101.160004,98.150002,97.199997

In [22]:
companies = ['apple','facebook']
data = df.loc[companies]
data

Date,23 January 2023,24 January 2023,25 January 2023,26 January 2023,27 January 2023,30 January 2023,31 January 2023,01 February 2023,02 February 2023,03 February 2023,06 February 2023,07 February 2023,08 February 2023,09 February 2023,10 February 2023,13 February 2023,14 February 2023,15 February 2023,16 February 2023,17 February 2023
Name,,,,,,,,,,,,,,,,,,,,
apple,140.894882,142.312714,141.643738,143.740540,145.707520,142.781998,144.070023,145.208282,150.590088,154.264465,151.498688,154.414230,151.688400,150.639999,151.009995,153.850006,153.199997,155.330002,153.710007,152.550003
facebook,143.270004,143.139999,141.500000,147.300003,151.740005,147.059998,148.970001,153.119995,188.770004,186.529999,186.059998,191.619995,183.429993,177.919998,174.149994,179.429993,179.479996,177.160004,172.440002,172.880005

In [23]:
data.sort_index()

Date,23 January 2023,24 January 2023,25 January 2023,26 January 2023,27 January 2023,30 January 2023,31 January 2023,01 February 2023,02 February 2023,03 February 2023,06 February 2023,07 February 2023,08 February 2023,09 February 2023,10 February 2023,13 February 2023,14 February 2023,15 February 2023,16 February 2023,17 February 2023
Name,,,,,,,,,,,,,,,,,,,,
apple,140.894882,142.312714,141.643738,143.740540,145.707520,142.781998,144.070023,145.208282,150.590088,154.264465,151.498688,154.414230,151.688400,150.639999,151.009995,153.850006,153.199997,155.330002,153.710007,152.550003
facebook,143.270004,143.139999,141.500000,147.300003,151.740005,147.059998,148.970001,153.119995,188.770004,186.529999,186.059998,191.619995,183.429993,177.919998,174.149994,179.429993,179.479996,177.160004,172.440002,172.880005

In [26]:
data = data.T.reset_index()

In [27]:
data.head()

Name             Date       apple    facebook
0     23 January 2023  140.894882  143.270004
1     24 January 2023  142.312714  143.139999
2     25 January 2023  141.643738  141.500000
3     26 January 2023  143.740540  147.300003
4     27 January 2023  145.707520  151.740005

In [29]:
data = pd.melt(data,id_vars=['Date'])

In [39]:
data = data.rename(columns={'value':'Stock Prices(USD)'})

In [34]:
data

                Date      Name  Stocl Prices(USD)
0    23 January 2023     apple         140.894882
1    24 January 2023     apple         142.312714
2    25 January 2023     apple         141.643738
3    26 January 2023     apple         143.740540
4    27 January 2023     apple         145.707520
5    30 January 2023     apple         142.781998
6    31 January 2023     apple         144.070023
7   01 February 2023     apple         145.208282
8   02 February 2023     apple         150.590088
9   03 February 2023     apple         154.264465
10  06 February 2023     apple         151.498688
11  07 February 2023     apple         154.414230
12  08 February 2023     apple         151.688400
13  09 February 2023     apple         150.639999
14  10 February 2023     apple         151.009995
15  13 February 2023     apple         153.850006
16  14 February 2023     apple         153.199997
17  15 February 2023     apple         155.330002
18  16 February 2023     apple         153.710007
19  17 February 2023     apple         152.550003
20   23 January 2023  facebook         143.270004
21   24 January 2023  facebook         143.139999
22   25 January 2023  facebook         141.500000
23   26 January 2023  facebook         147.300003
24   27 January 2023  facebook         151.740005
25   30 January 2023  facebook         147.059998
26   31 January 2023  facebook         148.970001
27  01 February 2023  facebook         153.119995
28  02 February 2023  facebook         188.770004
29  03 February 2023  facebook         186.529999
30  06 February 2023  facebook         186.059998
31  07 February 2023  facebook         191.619995
32  08 February 2023  facebook         183.429993
33  09 February 2023  facebook         177.919998
34  10 February 2023  facebook         174.149994
35  13 February 2023  facebook         179.429993
36  14 February 2023  facebook         179.479996
37  15 February 2023  facebook         177.160004
38  16 February 2023  facebook         172.440002
39  17 February 2023  facebook         172.880005

In [49]:
chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8,clip=True)
    .encode(
        x="Date:T",
        y=alt.Y("Stock Prices(USD):Q",stack=None,scale = alt.Scale(domain=[130,200])),
        color="Name:N"
    )
)

In [50]:
chart

alt.Chart(...)